.main-header {
    background-color: rgba(241, 42, 42, 0.747);
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin: 0;
    padding: 10px;
}